@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Site</title>
</head>
<body>
	<div>
		<h3>Ставки</h3>
		<table>
			<tr>
				<td><p>Айди ставки</p></td>
				<td><p>Боец</p></td>
				<td><p>Ставка</p></td>
				<td></td>
			</tr>
			@foreach (var b in ViewBag.Bets)
			{
				<tr>
					<td><p>@b.Id</p></td>
					<td><p>@b.NameFighter</p></td>
					<td><p>@b.Rate</p></td>
					<td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
				</tr>
			}
		</table>
	</div>
	<div>
		<h3>Добавить</h3>
		@*<form method="post" action="@Url.Action("Add", "HomeController")">*@
		<form method="post" action="/Home/Add">
		<table>
			<tr>
				<td><p>Введите Id </p></td>
				<td><input type="text" name="Id" /> </td>
			</tr>
			<tr>
				<td><p>Введите name :</p></td>
				<td>
					<input type="text" name="NameFighter" />
				</td>
			</tr>
			<tr>
				<td><p>Введите rate :</p></td>
				<td>
					<input type="text" name="Rate" />
				</td>
			</tr>
			<tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
		</table>
		</form>
	</div>
</body>
</html>